.App {
  text-align: center;
}
.gallery {
  width: calc(100% - 40px);
  max-width: 1280px;
  margin: 0 auto;
  columns: 3;
  column-gap: 10px;
}
.image {
  width: 100%;
  height: auto;
}
.gallary-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.search-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
}

.search-input:focus {
  outline: none;
  border-color: #007bff; /* Change color on focus */
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3; /* Darken color on hover */
}
@media (max-width: 768px) {
  .gallery {
    columns: 2;
  }
}
@media (max-width:563px) {
  .search-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
  }
  .search-button{
    padding: 10px 10px;
    font-size: 16px;
  }
  .gallery {
    columns: 1;
  }
 }
 
 @media (max-width:375px) {
  .search-input {
    width: 170px;
  }
 }